body {
    width: 100%;
    font-size: 0.875em;
    font-family: Roboto, Calibri, Arial;
}
/* --------- MEDIA QUERIES --------- */

@media (min-width: 600px) {
    body {
        font-size: 1.3em;
    }
}
/* ---------------------------------------------- HEADER ---------------------------------------------- */

.header {
    background: #f0fbff;
    color: #17649a;
    padding: 0.625em;
}

.logo {
    height: auto;
    max-width: 30%;
    margin-left: 0.9375em;
    img-size: 50%;
}

.menu {
    display: inline-block;
    float: right;
    font-size: 0.8em;
    height: auto;
    margin: 0.2em 1.5em 0 0;
    max-width: 100%;
    line-height: 2em;
}

.menu img {
    width: 15px;
    margin-right: 5px;
}
/* --------- MEDIA QUERIES --------- */

@media (min-width: 600px) {
    .header {
        padding: 1em;
    }
    .logo {
        max-width: auto;
        margin-left: 1em;
        margin-top: 0.6em;
    }
    .menu {
        margin-top: 1em;
        margin-right: 2em;
        line-height: 2.5em;
        font-size: 0.725em;
    }
}

@media (min-width: 1000px) {

	.logo {
		margin-left:5em;
	}

	.menu {
		margin-right:10em;
	}
}

/* ---------------------------------------------- SECOND HEADER ---------------------------------------------- */

.second_header {
	background:#f7f7f7;
	text-align:center;
	font-size:2em;
	color:#4a7da8;
	padding:20px 0;
}

.textbox_localisation {
	border:5px solid #4a7da8;
	border-radius:8px;
	height:40px;
	text-align:left;
	padding-left:10px;
	background:#f0fbff;
	margin:0 15px;
}

.target {
	width:40px;
}

.map {
	width:100%;
	height:auto;
	padding:5px 0 10px;
	border-top:1px solid rgba(0,0,0,0.3);
	border-bottom:1px solid rgba(0,0,0,0.3);
}

.img_map {
	width:100%;
	height:auto;
}

/* --------- MEDIA QUERIES --------- */

@media (min-width: 600px) {
	.textbox_localisation {
		height:60px;
	}
	
	.target {
		width:45px;
	}
}

/* ---------------------------------------------- FOOTER ---------------------------------------------- */

.footer {
    background: #f0fbff;
    color: #17649a;
    padding: 15px 0;
}

.a_propos {
    display: inline-block;
    font-size: 0.6875em;
    margin-left: 90px;
}

.texte-a_propos {
    font-size: 0.7em;
}

.infos_pratiques {
    display: inline-block;
    font-size: 0.6875em;
    margin-right: 80px;
	float:right;
}

.texte-infos_pratiques {
    font-size: 0.7em;
}

.titre_partenaires {
    margin-top: 10px;
    text-align: center;
}

.partenaires {
    margin: 10px auto;
    max-width: 100%;
    text-align: center;
}

.titre_partenaires {
    font-size: 0.875em;
}

.partenaires img {
    margin-right: 15px;
}

.partenaire_monde {
    width: 100px;
}

.partenaire_minutes {
    width: 30px;
}

.partenaire_tf1 {
    width: 70px;
}

.partenaire_bbc {
    width: 35px;
}
/* --------- MEDIA QUERIES --------- */

@media (min-width: 600px) {
    .a_propos {
        font-size: 1em;
        float: left;
        display: inline-block;
        margin: 0 0 0 185px;
    }
    .texte-a_propos {
        font-size: 0.7em;
    }
    .infos_pratiques {
        display: inline-block;
        font-size: 1em;
        float: right;
    }
    .texte-infos_pratiques {
        font-size: 0.7em;
    }
    .infos_gen {
        display: block;
        padding: 15px 0;
    }
    
    .partenaires {
    margin: 10px auto;
    max-width: 70%;
    text-align: center;
	}
    
    .titre_partenaires {
        font-size: 1.2em;
    }
    .partenaires img {
        margin: 5px;
    }
    .partenaire_monde {
        width: 200px;
    }
    .partenaire_minutes {
        width: 60px;
    }
    .partenaire_tf1 {
        width: 140px;
    }
    .partenaire_bbc {
        width: 70px;
    }
}

@media (min-width: 1200px) {
		
	.infos_pratiques {
		margin-left: 400px;
		margin-right:0;
		float:none;
		display:block;
	}
	
	.infos_gen {
		display:inline-block;
	}
	
	.partenaires_gen {
		display:inline-block;
	}
	
	 .partenaires img {
        margin:10px 20px;
    }
}

@media (min-width: 1800px) {
	.infos_pratiques {
		margin-left:600px;
	}
	
	.partenaires_gen {
		margin-left:200px;
	}
}