body {
    width: 100%;
    font-size: 0.875em;
    font-family: Roboto, Calibri, Arial;
}
/* --------- MEDIA QUERIES --------- */

@media (min-width: 600px) {
    body {
        font-size: 1.3em;
    }
}
/* ---------------------------------------------- HEADER ---------------------------------------------- */

.header {
    background: #f0fbff;
    color: #17649a;
    padding: 0.625em;
}

.logo {
    height: auto;
    max-width: 30%;
    margin-left: 0.9375em;
    img-size: 50%;
}

.menu {
    display: inline-block;
    float: right;
    font-size: 0.625em;
    height: auto;
    margin: 0.2em 1.5em 0 0;
    max-width: 100%;
    line-height: 2em;
}

.menu img {
    width: 15px;
    margin-right: 5px;
}
/* --------- MEDIA QUERIES --------- */

@media (min-width: 600px) {
    .header {
        padding: 1em;
    }
    .logo {
        max-width: auto;
        margin-left: 1em;
        margin-top: 0.6em;
    }
    .menu {
        margin-top: 1em;
        margin-right: 2em;
        line-height: 2.5em;
        font-size: 0.725em;
    }
}

@media (min-width: 1000px) {

	.logo {
		margin-left:5em;
	}

	.menu {
		margin-right:10em;
	}
}

/* ---------------------------------------------- BANNER ---------------------------------------------- */

.banner {
    position: relative;
    top: -5px;
}

.img_banner {
    height: auto;
    margin: 5px 0 0;
    max-width: 100%;
}

.titre_recherche {
	width:100%;
	position:absolute;
	top:5%;
	text-align:center;
}

.titre_banner {
    color: #a5fffe;
    font-size: 1.3em;
    text-shadow: 2px 3px 4px #000;
}

.textbox_gen {
	margin-top:10px;
}

.numero2 {
	width:30px;
	position: absolute;
	top: 61%;
	left:50%;
	margin-left:-15px;
}

.textbox {
	border:2px solid #b1ffff;
	border-radius:8px;
	width:180px;
	height:20px;
}

.target {
	margin-left:20px;
	width:20px;
}

.button_recherche {
	background:#dda900;
	width:180px;
	position:absolute;
	top:40%;
	left:50%;
	margin-left:-90px;
	padding:10px 5px;
	border-radius:8px;
	border:1px solid #F3C840;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	font-size:0.9em;
	height:35px;
	line-height:10px;
}

.button_chemin {
	background:#e1e6ea;
	width:150px;
	position:absolute;
	top:75%;
	left:50%;
	margin-left:-75px;
	padding:10px 5px;
	border-radius:8px;
	color:#8c96a0;
	text-align:center;
	font-size:1.1em;
	text-transform:uppercase;
	font-size:0.9em;
	height:35px;
	line-height:10px;
}

/* --------- MEDIA QUERIES --------- */

@media (min-width: 600px) {
	.titre_recherche {
		margin-top:20px;
	}
	
    .titre_banner {
        font-size: 1.5em;
    }
	
	.numero1 {
		display:inline-block;
	}
	
	.textbox_gen {
		display:inline-block;
		margin-left:40px;
	}
	
	.textbox {
		height:30px;
	}
	
	.target {
		width:30px;
	}

	.numero2 {
		top:60%;
	}
	
	.button_recherche {
		width:270px;
		top:40%;
		margin-left:-135px;
		height:45px;
		line-height:22.5px;
	}
	
	.button_chemin {
		width:240px;
		top:80%;
		margin-left: -120px;
		height:45px;
		line-height:22.5px;
	}
}

@media (min-width: 1200px) {
	.img_banner {
		width:100%;
	}

	.titre_banner {
		font-size: 2.5em;
	}
	
	.textbox {
		width:300px;
		height:40px;
	}
	
	.textbox_gen {
		margin-left:150px;
	}
	
	.target {
		width:40px;
	}
	
	.numero2 {
		width:70px;
		margin-left:-35px;
	}
	
	.button_recherche {
		width:320px;
		margin-left: -160px;
		font-size:1.1em;
		height:60px;
		line-height:30px;
	}
	
	.button_chemin {
		width:260px;
		margin-left: -130px;
		font-size:1.1em;
		height:60px;
		line-height:30px;
	}
}

/* ---------------------------------------------- FOOTER ---------------------------------------------- */

.footer {
    background: #f0fbff;
    color: #17649a;
    padding: 15px 0;
}

.a_propos {
    display: inline-block;
    font-size: 0.6875em;
    margin-left: 90px;
}

.texte-a_propos {
    font-size: 0.7em;
}

.infos_pratiques {
    display: inline-block;
    font-size: 0.6875em;
    margin-right: 80px;
	float:right;
}

.texte-infos_pratiques {
    font-size: 0.7em;
}

.titre_partenaires {
    margin-top: 10px;
    text-align: center;
}

.partenaires {
    margin: 10px auto;
    max-width: 100%;
    text-align: center;
}

.titre_partenaires {
    font-size: 0.875em;
}

.partenaires img {
    margin-right: 15px;
}

.partenaire_monde {
    width: 100px;
}

.partenaire_minutes {
    width: 30px;
}

.partenaire_tf1 {
    width: 70px;
}

.partenaire_bbc {
    width: 35px;
}
/* --------- MEDIA QUERIES --------- */

@media (min-width: 600px) {
    .a_propos {
        font-size: 1em;
        float: left;
        display: inline-block;
        margin: 0 0 0 185px;
    }
    .texte-a_propos {
        font-size: 0.7em;
    }
    .infos_pratiques {
        display: inline-block;
        font-size: 1em;
        float: right;
        margin: 0px 150px 0px 0px;
    }
    .texte-infos_pratiques {
        font-size: 0.7em;
    }
    .infos_gen {
        display: block;
        padding: 15px 0;
    }
    
    .partenaires {
    margin: 10px auto;
    max-width: 70%;
    text-align: center;
	}
    
    .titre_partenaires {
        font-size: 1.2em;
    }
    .partenaires img {
        margin: 5px;
    }
    .partenaire_monde {
        width: 200px;
    }
    .partenaire_minutes {
        width: 60px;
    }
    .partenaire_tf1 {
        width: 140px;
    }
    .partenaire_bbc {
        width: 70px;
    }
}

@media (min-width: 1200px) {
		
	.infos_pratiques {
		margin-left: 500px;
		float:none;
		display:block;
	}
	
	.infos_gen {
		display:inline-block;
	}
	
	.partenaires_gen {
		display:inline-block;
	}
	
	 .partenaires img {
        margin:10px 20px;
    }
	
}